{% extends "base.html" %}

{% block title %}My Recipes - Flavor Library{% endblock %}

{% block content %}
<h2 class="mb-4">My Recipes</h2>
{% if recipes %}
    <ul class="list-group">
        {% for recipe in recipes %}
            <li class="list-group-item">
                <h5>{{ recipe.title }}</h5>
                <a href="{{ url_for('view_my_recipe', recipe_id=recipe.id) }}" class="btn btn-info">View Recipe</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You haven't created any recipes yet.</p>
{% endif %}
{% endblock %}
